{% extends "base.html" %}
{% load i18n %}

{% block content %}
 
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                    <!-- Blog Post -->
                    <!-- Title -->
                    <h1 align="center">{{ post.title }}</h1>

                    <!-- Author -->
                        By <a href="#">{{ user.get_full_name}}</a> || <span class="glyphicon glyphicon-time"></span> Posted on {{ post.created }}

                    <hr>

                    <!-- Date/Time -->
                    <!-- Preview Image 
                    <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->
    
                    <!-- Post Content 
                    <p class="lead">{{ post.description }}</p> -->
                    <p>
                        {% autoescape on %}
                            {{ post.body |safe }}
                        {% endautoescape %}
                    </p>
                    <hr>

                <!-- Blog Comments -->
                <div class="fb-like" data-href="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <div class="fb-comments" data-href="" data-numposts="5"></div>        

            </div>

        </div>
    </div>
        <!-- /.row -->

    <hr>

{% endblock %}
